.aboutdept{
    display: block;
    
}
.para{
    max-width: 450px;
    word-wrap: break-word;
}
.aboutus{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}