@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  align-items: center;
  justify-content: center;
  /* background-color: var(--blue); */
  min-height: 100vh;
}
img {
  max-width: 100%;
  display: block;
}
ul {
  list-style: none;
}

/* Utilities */
.card::after,
.card img {
  border-radius: 50%;
}
body,
.card,
.stats {
  display: flex;
}

.card {
  padding: 2.5rem 2rem;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.5);
  max-width: 450px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  margin: 1rem;
  position: relative;
  transform-style: preserve-3d;
  overflow: hidden;
}
.card::before,
.card::after {
  content: "";
  position: absolute;
  z-index: -1;
}
.card::before {
  width: 100%;
  height: 100%;
  border: 1px solid var(--blue);
  border-radius: 10px;
  top: -0.7rem;
  left: -0.7rem;
}
.card::after {
  height: 12rem;
  width: 15rem;
  background-color: var(--red);
  top: -8rem;
  right: -8rem;
  box-shadow: 2rem 6rem 0 -3rem var(--blue);
}

.card img {
  width: 8rem;
  min-width: 80px;
  box-shadow: 0 0 0 5px #fff;
}
#instagram{
  
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    /* -webkit-background-clip: text; */
    /* Also define standard property for compatibility */
    /* background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    font-size: 27px; /* change this to change the size*/
    border-radius: 20px;
    font-weight: 900;
  
}
.firstrow{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  max-width: 1240px;
  flex-wrap: wrap;
}
.secondrow{
  display: flex;
  align-items: center;
  justify-content: center;
}
#linkedin{
  font-weight: 900; font-size: x-large; color: #0072b1;
}
#twitter{
  font-weight: 900; font-size: x-large; color: #00acee ;
}
#github{
  font-weight: 900; font-size: x-large; color: white;
}
.socialmedia{
  display: flex;
  gap: 1rem;
}
.infos {
  margin-left: 1.5rem;
}

.name {
  margin-bottom: 1rem;
  color: var(--blue);
}
.name h2 {
  font-size: 1.3rem;
  color: var(--blue);
}
.name h4 {
  font-size: 0.8rem;
  color: var(--red);
  font-size: 18px;
  font-weight: 900;
}

.text {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.stats {
  margin-bottom: 1rem;
}
.stats li {
  min-width: 5rem;
}
.stats li h3 {
  font-size: 0.99rem;
}
.stats li h4 {
  font-size: 0.75rem;
}

.links button {
  font-family: "Poppins", sans-serif;
  min-width: 120px;
  padding: 0.5rem;
  border: 1px solid #222;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s linear;
}
.links .follow,
.links .view:hover {
  background-color: #222;
  color: #fff;
}
.links .view,
.links .follow:hover {
  background-color: transparent;
  color: #222;
}

@media screen and (max-width: 450px) {
  .card {
    display: block;
  }
  .infos {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .links button {
    min-width: 100px;
  }
}
