.shield {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 250px;
  margin: 20px;
  /* border: 10px solid; */
  /* border-radius: 50% 50% 50% 50% / 12% 12% 88% 88%; */
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(192,192,192,1) 0%, rgba(211,211,211,1) 17%, rgba(128,128,128,1) 100%) border-box;
}
.shield:hover {
  transition: transform 600ms;
  transform: translateY(-15px);
}

.shield img {
  height: 100px;
  width: 100px;
}
.mar-20{
  margin: 20px;
}

.shield-wrap {
  max-width: 900px;
  flex-wrap: wrap;
}

.shield > h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #545454;
}

@media only screen and (max-width: 720px) {
  .shield-wrap {
    justify-content: center !important;
  }
  .shield:hover {
    margin: 20px;
  }
}
